body {
    background-color: rgb(247, 247, 247);
}

.Nav-bar {
    width: 90%;
    text-align: center;
    border-bottom: 1px solid rgb(196, 196, 196);
    margin: auto;
    margin-top: 4%;
}

.Nav-container {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.Nav-container li {
    list-style: none;
    padding: 1px;
    margin: auto;
}

.Nav-container a {
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.4em;
    padding-bottom: 2px;
}

.Nav-container a:hover {
    border-bottom: 1px solid rgb(31, 31, 253);
}

.Carousel {
    border: 1px solid black;
    width: 100%;
    height: 400px;
    margin: 0px;
    margin-top: 5%;
}


.info-container {
    display: grid;
    grid-template-columns: 100%;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Goals-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Goals-container div {
    border: 1px solid black;
    padding: 25px;
    margin: auto;
    width: 65%;
    border-radius: 5px;
}

.last-container {
    width: 90%;
    padding: 35px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: auto;
    border: 1px solid black;
    margin-top: 10%;
}

footer {
    margin: auto;
    margin-top: 20%;
    text-align: center;
}


/* Media */

@media(max-width: 850px){

    body{
        margin: 10%;
    }

    
    .Nav-bar li {
        padding-bottom: 10px;
    }

    .Nav-bar ul {
        display: flex;
        margin: auto;
        justify-content: space-between;
        font-size: 10px;
    }

    .Carousel {
        height: 200px;
    }

    .Goals-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .Goals-container div{
        margin-top: 5%;
    }

    .last-container {
        margin-top: 10%;
        display: none;
    }

}

@media(max-width: 440px) {

    body {
        margin: 2%;
    }

    .Nav-bar ul {
        display: table;
        margin: auto;
        font-size: 1em;
        justify-content: center;
    }



    .Goals-container {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
    }
}